.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(18, 20, 23, 0.5);
  overflow: hidden;
  overscroll-behavior: contain;

  z-index: 1000;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  transition: all 500ms ease;
}

.modalCard {
  position: relative;
  padding: 40px;
  width: 541px;
  height: auto;

  background-color: #fff;
  border-radius: 24px;
}

.closeBtn {
  position: absolute;
  right: 16px;
  top: 16px;

  transition: all 300ms ease;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.3);
}

.modalImage {
  margin-bottom: 14px;
  width: 100%;
  height: 248px;

  border-radius: 14px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.modalTitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-transform: capitalize;
}

.accent {
  color: #3470ff;
}

.detailsList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  row-gap: 4px;

  font-size: 12px;
  line-height: calc(18 / 12);

  color: rgba(18, 20, 23, 0.5);
}

.detailsList > li:not(:last-child) {
  padding-right: 6px;
  border-right: 1px solid rgba(18, 20, 23, 0.1);
}

.detailsList > li:last-child {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desription {
  margin-top: 14px;
  width: 95%;

  font-size: 14px;
  line-height: calc(20 / 14);
}

.featuresTitle {
  margin: 24px 0 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.rentalDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;

  font-size: 12px;
  font-style: normal;
  line-height: calc(18 / 12);
  letter-spacing: -0.02em;

  color: #363535;
}

.rentalDetails > li {
  padding: 7px 14px;
  border-radius: 35px;
  background-color: #f9f9f9;
}
